@media screen and (max-width: 1150px){
    #main-columns .main-container{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .main-container .col-4{
        width: 47%;
        min-width: 220px;
        margin-bottom: 10px;
    }
    .column-four{
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;

    }
    .column-first{

    }
    .main-container .col-4:not(:last-child){
        margin-right: 0;
    }

    .try, .try-2{
        display: none;
    }

}

@media screen and (max-width: 1160px){
    .navigation .region-navigation ul.menu.sf-menu{
        display: none;
    }
}
@media screen and (max-width: 1140px){
    /*.navigation #main-menu ul.links{*/
        /*display: none;*/
    /*}*/
    .media-logo{
        display: block;
    }

    .views-field-title{
        font-weight: 500;
        /*font-size: 12px;*/
    }
    .region-four-column ul.menu li a {
        font-size: 14px;
        font-weight: 600;
    }

}
@media screen and (max-width: 1100px){
    .wrapper-first-second-block .second-block .region-head-right .block-block a{
        font-size: 10px;
    }
    .wrapper-first-second-block .second-block .region-head-right .block-block a:after{
        width: 85%;
    }

    .display-flex.table{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .display-flex.table .main-content, .section-all-news .main-content{
        width: 100%;
    }

    .display-flex.table .column-popular-news, .section-all-news .column-popular-news{
        width: 100%;
        min-width: 230px;
    }
    .display-flex.table .right-sidebar .view-content{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .display-flex.table .right-sidebar .view-content .views-row {
        max-width: 45%;
        min-width: 240px;
    }

}
@media screen and (max-width: 960px){
    .wrapper-first-second-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    header .wrapper-first-second-block .second-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-top: 30px;
    }
    .wrapper-first-second-block .second-block .region-head-right {
        width: 30vw;
        max-width: 280px;
    }
}
@media screen and (max-width: 920px){
    /*#main-columns .main-container{*/
        /*flex-wrap: wrap;*/
        /*justify-content: space-between;*/
    /*}*/
    /*.main-container .col-4{*/
        /*width: 47%;*/
        /*min-width: 220px;*/
        /*margin-bottom: 10px;*/
    /*}*/
    /*.column-four{*/
        /*order: -1;*/

    /*}*/
    /*.column-first{*/

    /*}*/
    /*.main-container .col-4:not(:last-child){*/
        /*margin-right: 0;*/
    /*}*/

}

@media screen and (max-width: 870px){
    .slide-news-block{
        display: none;
    }
    .wrapper-news-slide-img {
        width: 100vw;
        height: 45vw;
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }

}

@media screen and (max-width: 810px){
    .wrapper-banner{
        flex-direction: column;
    }
    .wrapper-banner .first-block{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-top: 35px;
    }

}

@media screen and (max-width: 770px){
    h1{
        font-size: 21px;
    }
    .wrapper-first-block-title p{
        font-size: 11px;
    }
    /*.wrapper-banner .first-block{*/
        /*order: 2;*/
        /*margin-top: 35px;*/
    /*}*/

    .footer .footer-navigation{
        display: none;
    }

    .tourist-trip-item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .tourist-trip-item .views-field-field-image{
        margin: 0 auto;
    }
    .tourist-trip-item .views-field-body{
        width: 100%;
    }



}
@media screen and (max-width: 720px){
    .detail-news .node-news .field-name-field-main-img{
        float: none;
        margin: 15px auto;
    }
}

@media screen and (max-width: 700px){
    /*.wrapper-first-second-block {*/
        /*flex-direction: column;*/
        /*align-items: center;*/
    /*}*/
    .header #logo{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .wrapper-first-block-title{
        position: relative;
        left: 0;
        text-align: center;
    }
    header .second-block {
        margin-top: 30px;
    }
    .news-title .item-slide-image{
        font-size: 19px;
    }

    #banner-after-navigation {
        padding-top: 25px;
    }



}

@media screen and (max-width: 670px){
    .footer .row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer .second-block{
        margin-left: 0;
        margin-top: 20px;
    }

}

@media screen and (max-width: 625px){
    #main-columns .main-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .main-container .col-4{
        width: 100%;
    }
    .display-flex .column-popular-news, .section-all-news .column-popular-news{
        width: 90%;
        min-width: 230px;
    }
    .section-all-news .main-content .view-content .views-row{
        width: 100%;
        max-width: 100%;
        margin: 5px 0;
    }


    .column-oficial-inform.color-column{
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .column-popular-news h2{
        border: none;
        margin-bottom: 0;
    }
    .column-sidebar ul.menu li.menu__item:not(:last-child){
        margin-bottom: 10px;
    }

    #main-columns .main-container .column-popular-news .view,
    #main-columns .main-container .column-oficial-inform .view-block-official-information-on-the-home,
    #main-columns .main-container .column-img-news div
    {
        display: none;
    }

    header .wrapper-first-second-block .second-block{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .wrapper-first-second-block .second-block .region-head-right{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .wrapper-first-second-block .second-block .region-head-right .block-block{
        float: none;
        margin: 20px auto 30px;
    }
    .display-flex{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .display-flex .main-content{
        box-shadow: none;
        width: 90%;
        min-width: 230px;
        margin-right: 0;
    }
    .section-all-news .item-list{
        margin-top: 20px;
    }

    .wrapper-first-second-block .second-block .region-header{
        margin-right: 0;
    }

    .wrapper-first-second-block .second-block .region-head-right .block-search form .form-item{
        width: 60%;
        margin: 0 auto;
        min-width: 225px;
    }
    .wrapper-first-second-block .block-search{
        width: 100%;
    }
    .color-column{
        background-color: transparent;
        border: none;
        box-shadow: none;

    }
    .questions-and-suggestions{
        margin-top: 40px;
    }
    .column-sidebar{
        margin-bottom: 30px!important;
    }

    .services-item{
        width: 100%;
        min-width: 100%;
    }


}

@media screen and (max-width: 600px){


}

@media screen and (max-width: 590px){
    #news-slider .views-field-title{
        font-size: 18px;
    }
    .services-item{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .wrapper-t{
        text-align: center;
    }
    .buttons-call-to-action{
        margin: 20px auto 0;
    }
    .services-item .views-field-title{
        text-align: center;
        font-size: 15px;
    }

    .services-item .views-field-field-image{
        margin-right: 0;
        margin-bottom: 15px;
        width: 65%;
    }


}
@media screen and (max-width: 536px){
    .display-flex.table .right-sidebar .view-content .views-row {
        max-width: 100%;
        min-width: 240px;
    }
}
@media screen and (max-width: 520px){
    #main-columns .main-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .main-container h2{
        cursor: pointer;
    }
}

@media screen and (max-width: 500px){
    #main-columns{
        margin-top: 30px;
    }
    #news-slider .views-slideshow-controls-top{
        left: 50%;
        margin-left: -36px;
        top: 100%;
    }
    #news-slider .views-field-title {
        font-size: 16px;
        height: 86px;
        overflow: hidden;
    }


}

@media screen and (max-width: 440px){
    .wrapper-news-slide-img .item-slide-arrow{
        bottom: 10px;
        left: 50%;
        margin-left: -41px;
    }
    .wrapper-news-slide-img .news-title{
        align-self: flex-start;
    }
    .slide-image-block.active{
        padding: 10px;
    }
    .wrapper-news-slide-img .button-important{
        background-color: transparent;
        padding: 0;
        font-size: 14px;
        font-weight: 400;
        color: #b3d5e6;
        text-shadow: 2px 1px 1px #000;
    }

}

@media screen and (max-width: 400px){
    .wrapper-time .time, .wrapper-temp .temp {
        font-size: 25px;
    }
    .wrapper-icon-clock,.wrapper-icon-cloud{
        width: 24px;
    }

    header .second-block .block p {
        line-height: 24px;
    }
    .wrapper-date {
        margin-right: 25px;
    }
    header .second-block {
        margin-top: 15px;
    }


}
@media screen and (max-width: 350px){
    .column-sidebar ul.menu li.menu__item a{
        font-size: 13px;
        font-weight: 500;
    }

    .wrapper-first-second-block .second-block .region-head-right{
        width: 100%;
    }

}
@media screen and (max-width: 340px){
    header .second-block .block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .news-title .item-slide-image {
        font-size: 13px;
    }
    .footer .first-block p,
    .footer .second-block ul.menu
    {
        display: none;
    }
    .first-block h2, .second-block h2{
        cursor: pointer;
    }

    #news-slider .views-field-title{

    }

}
@media screen and (max-width: 300px){
    .detail-news .node-news .field-name-field-main-img{
        min-width: 220px;
    }
}

@media screen and (max-width: 280px){
    .region-four-column ul.menu li a{
        font-size: 13px;
        font-weight: 500;
    }

}

@media screen and (max-width: 890px){


}

@media screen and (max-width: 890px){


}

@media screen and (max-width: 890px){


}

@media screen and (max-width: 890px){


}

@media screen and (max-width: 890px){


}
#edit-field-number-value{
    padding: 3px 25px;
    margin: 7px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* min-width: 320px; */
    height: 33px;
    border-radius: 5px;
    background: #eee;
    border: none;
    box-shadow: inset 0px 1px 3px 1px rgba(154, 147, 140, 0.7);
}