@import url("fonts.css");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 1.5rem;
    line-height: initial;
    margin-top: 1rem;
    margin-bottom: 0rem;
}
body {
    position: relative;
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    color: #000;
    cursor: default;
    font-size: 14px;
    line-height: normal;
    background: #fff;
    height: auto;
    min-height: 100%;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

section,header,footer{
    display: block;
    position: relative;
}

.container {
    zoom: 1;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}
.container-pad-0{
    zoom: 1;
    width: 100%;
    /*max-width: 1280px;*/
    margin: 0 auto;
    position: relative;
}
.container:after,
    /*.container:before {*/
    /*content: "";*/
    /*display: table;*/
    /*}*/
.container:after {
    clear: both;
}
.views-field-title a{
    color: #000;
}
a{
    display: inline;
    /*color: #0c9be4;*/
    text-decoration: none;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a img {
    text-decoration: none;
}

a:focus,a:hover,a:link,
a:active {
    outline: none;
    text-decoration: none;
    outline-width: 0;
}
a:hover{
    text-decoration: none;
}

h1 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}

h2{
    font-size: 18px;
    font-weight: 600;
}
h3{
    /*font-size: 14px;*/
    font-weight: 600;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li{

}
/*li a{*/
/*font-size: 15px;*/
/*}*/
img{
    max-width: 100%;
    height: auto;
}
input{
    font-family: "OpenSans",sans-serif;
    outline: none;
    padding-left: 15px;
}
textarea{
    font-family: "OpenSans",sans-serif;
    outline: none;
    padding-left: 15px;
    padding-top: 5px;
}
button {
    font-family: "OpenSans",sans-serif;
    outline: none;
    text-decoration: none;
    border: none;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
button:focus{
    outline: none;
}
.button{
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background-color: #feb300;
    padding: 11px 56px;
    border-radius: 15px;
}
.button-important{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: #0c9be4;
    padding: 5px 43px;
    border-radius: 9px;
    cursor: pointer;
}
.button-important:hover{
    background-color: #086fa3;
}








/*.wrapper{*/
    /*margin:0 auto;*/
    /*max-width:1248px;*/
    /*min-height:100vh;*/
    /*font-family: "OpenSans",sans-serif;*/
    /*font-size: 25px;*/
/*}*/
/*.top-bar .top-bar-menu ul.menu{*/
    /*padding:0;*/
    /*margin:0;*/
/*}*/
/*.top-bar .top-bar-menu ul.menu li{*/
    /*list-style:none;*/
    /*display:inline-block;*/
/*}*/
/*.header .first-block, .header .second-block{*/
    /*display:inline-block; */
    /*width:48%*/
    /**/
/*}*/

/*.navigation #main-menu ul{*/
    /*padding:0;*/
    /*margin:0;*/
/*}*/
/*.navigation #main-menu ul li{*/
    /*list-style:none;*/
    /*display:inline-block;*/
/*}*/

/*#main-columns .column, #main-columns .main-container, #main-columns .second-container{*/
    /*display:inline-block;*/
    /**/
/*}*/
/*#main-columns .main-container{*/
    /*vertical-align: top;*/
    /*width:75%;*/
/*}*/
/*#main-columns .second-container{*/
    /*vertical-align: top;*/
    /*width:24%;*/
/*}*/
/*#main-columns .column.col-4{*/
    /*width:32%;*/
/*}*/


/*Начались мои классы!!!!!!!!!!!!!!!!!!!!!!!!*/


/*Секция верхнее меню*/
.top-bar{
    background: #fcf2e8;
    /*min-height: 32px;*/
}
.top-bar .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.top-bar-menu ul.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 0;
}
.top-bar-menu ul.menu li:not(:last-child){
    margin-right: 11px;
}
.top-bar-menu ul.menu li{
    list-style: none!important;
}
.top-bar-menu ul.menu li a{
    color: #000;
    padding-left: 20px!important;
    height: 19px;!important;
}


/*Языковая секция*/
.top-bar .region-language{

}
.top-bar .region-language p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.top-bar .region-language p a{
    width: 30px;
    height: 20px;
}
.top-bar .region-language p a:hover{
    box-shadow: 0 0 2px 0px #000;
}


.top-bar .region-language p a:not(:last-child){
    margin-right: 7px;
}
.top-bar .region-language p a img{
    width: 100%;
    height: 100%;
}



/*Секция с гербом*/
.header{
    background: #fff;
    padding-top: 30px;
}
.wrapper-first-second-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.wrapper-first-second-block .first-block{
    width: 30%;
    color: #000;
}

.header #logo{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrapper-image-logo{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 107px;
    height: 80px;

}
.wrapper-first-block-title{
    position: absolute;
    left: 88px;
}
.wrapper-first-block-title p{
    font-weight: 500;
}
header .wrapper-first-second-block .second-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 10px;
}
header .second-block .region-header .block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
header .second-block .block p{
    line-height: 26px;

}
.wrapper-date, .wrapper-temperature{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.wrapper-date{
    margin-right: 35px;
}
.wrapper-icon-clock{
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.wrapper-time, .wrapper-temp{
    margin-left: 6px;
}
.wrapper-time .time, .wrapper-temp .temp{
    font-size: 32px;
    color: #f5bd1a;
}


.wrapper-icon-cloud{
    width: 58px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*Блок для слабовидящих и формой поиска*/
.wrapper-first-second-block .second-block .region-header{
    margin-right: 5%;
}
.wrapper-first-second-block .second-block .region-head-right{
    width: 20vw;
    flex-shrink: 0;
    max-width: 260px;
}



.wrapper-first-second-block .second-block .region-head-right .block-block{
    margin-bottom: 15px;
    float: right;
}
.wrapper-first-second-block .second-block .region-head-right .block-block a{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #34abe8;
}
.wrapper-first-second-block .second-block .region-head-right .block-block a:before{
    content: "";
    margin-right: 5px;
    width: 23px;
    height: 15px;
    display: block;
    background: url("../img/IconBind.png")center no-repeat;
    background-size: contain;
}
.wrapper-first-second-block .second-block .region-head-right .block-block a:after{
    content: "";
    display: block;
    height: 2px;
    width: 87%;
    background: #34abe8;
    position: absolute;
    bottom: -1px;
    left: 29px;
}
.form-item {
    margin: 0;
}
.wrapper-first-second-block .second-block .region-head-right .block-search form h2.element-invisible{
    display: none;
}
.wrapper-first-second-block .second-block .region-head-right .block-search form .form-item label{
    display: none;
}
.wrapper-first-second-block .second-block .region-head-right .block-search form .form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 33px;
    border-radius: 16px;
    background: #eee;
    /*padding-left: 17px;*/
    /*border: 1px solid;*/
    /*border-top-width: 2px;*/
    /*border-left-width: 1.5px;*/
    /*border-right-width: 1.5px;*/
    /*border-top-color: #dcd9d9;*/
    /*border-left-color: #e6e4e4;*/
    /*border-right-color: #e6e4e4;*/
    /*border-bottom-color: #e2e2e2;*/

    box-shadow: inset 0px 1px 3px 1px rgba(154, 147, 140, 0.7);
}
.wrapper-first-second-block .second-block .region-head-right .block-search form .form-item input{
    border: none;
    background: transparent;
    outline: none;
    height: 100%;
    width: 85%;
    display: block;
}
.wrapper-first-second-block .second-block .region-head-right .block-search form .form-actions input{
    display: none;
}











/*Навигация*/

header .navigation{
    margin-top: 18px;
}
.navigation #main-menu ul.links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.navigation #main-menu ul.links li{

}

.navigation #main-menu ul.links li a{
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.navigation #main-menu ul.links li:hover a{
    opacity: 0.5;
}

.navigation #main-menu ul.links li a.active{
    color: #0c9be4;
    border-bottom: 1px solid;
}

/*Банер с мером после навигации*/
#banner-after-navigation{
    background: #fff;
    padding-top: 56px;
}
.wrapper-banner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.wrapper-banner .first-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 72%;
    border-bottom: 1px solid #888888;
    padding-bottom: 20px;
    margin-right: 20px;
}
.wrapper-slider-bunner button{
    margin-right: 20px;
}
.title-bunner{
    font-size: 15px;
    color: #888888;
    margin-right: 10px;
    letter-spacing: -0.5px;
}
.wrapper-slider-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav-slider{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 31px;
    height: 31px;
    background: #0c9be4;
    border-radius: 50%;
    cursor: pointer;
}
.nav-slider p{
    color: #fff;

}
.nav-slider:hover{
    background: #f5bd1a;

}
.nav-left{
    margin-right: 10px;
}


.wrapper-banner .second-block{
    background-color: #f9f9f9;
    display: flex;
    border-radius: 5px;
    padding: 10px 12px;
    width: calc(100% - 72% - 20px);
    min-width: 265px;
    -webkit-box-shadow: 0 0 2px 2px #dbdbdb;
    box-shadow: 0 0 2px 2px #dbdbdb;
    cursor: pointer;
}
.wrapper-banner .second-block:hover{
    -webkit-box-shadow: 0 0 4px 3px #dbdbdb;
    box-shadow: 0 0 4px 3px #dbdbdb;
}

.wrapper-slider-bunner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.wrapper-img-mayor{
    margin-right: 18px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}
.wrapper-description-mayor{
    color: #2c2c2c;
    font-weight: 500;
}
.wrapper-description-mayor .name{
    font-size: 20px;
}

/*Секция слайдер - таб новости*/
#news-slider{
    background: #fff;
    padding-top: 22px;
}
.wrapper-news-slider{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.wrapper-news-slide-img{
    width: calc(72% + 20px);
    flex-shrink: 0;
}
.slide-image-block{
    display: none;
}
.slide-image-block.active{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;

    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 30px 40px 40px;
}




.wrapper-news-slide-img .item-slide-arrow .control-panel{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.slide-news-block .item-news{
    position: relative;
    min-height: 105px;
    border-top: 2px solid #e4e1e1;
    background: #f9f9f9;
    padding: 15px 10px 10px 22px;
    cursor: pointer;
}
.item-news:hover div.tag{
    box-shadow: 0 0 3px 1px #c5c5c5;
}




.slide-news-block .item-news:last-child{
    border-bottom: 2px solid #e4e1e1;
}

.slide-news-block .item-news .tag{
    padding: 5px 5px;
    border-radius: 4px;
    max-width: 90px;
    text-align: center;
}
.slide-news-block .item-news:not(:first-child):not(:last-child) .tag{
     background: #d9fbf9;
 }
.slide-news-block .item-news:first-child .tag{
    background: #fcf4c9;
}
.slide-news-block .item-news:last-child .tag{
    background: #fcf4c9;
}
.slide-news-block .item-news .news-title{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.slide-news-block .item-news .tag p{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #70b2a6;
}
.slide-news-block .item-news:not(:first-child):not(:last-child) .tag p{
    color: #70b2a6;
}
.slide-news-block .item-news:first-child .tag p{
    color: #e5b73a;
}
.slide-news-block .item-news:last-child .tag p{
    color: #e5b73a;
}
.slide-news-block .item-news.active{
    background: #fcf2e8;
}

.slide-news-block .item-news .wrapper-before-item-news{
    display: none;
}
.slide-news-block .item-news.active .wrapper-before-item-news{
    display: block;
}

.wrapper-before-item-news{

    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 22px solid #fcf2e8;
    border-bottom: 0px solid transparent;
    position: absolute;
    top: 0;
    left: -22px;
}
.news-title .item-slide-image{
    font-size: 26px;
    color: #fff;
    font-weight: 500;
    width: 90%;
    max-width: 750px;
    margin-right: 10px;
    align-content: flex-end;
}

.wrapper-news-slide-img .item-slide-arrow{
    order: 2;
    position: absolute;
    right: 35px;
}
.wrapper-news-slider .item-slider-news{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 31px;
    height: 31px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 21px;
    color: #000;
}
.wrapper-news-slider .item-slider-news:hover{
    background: #f5bd1a;
    color: #fff;
}


.item-slide-arrow .prev-button{
    margin-right: 20px;
}
.wrapper-news-slide-img .news-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}
.news-title-more{
    display: block;
    padding: 5px 20px;
    order: 2;
}


/*Слайдер новый свмый*/

#news-slider .region .view-content{
    position: relative;
}

#news-slider .views_slideshow_cycle_main .views-field-field-image a{
    height: 39vw;
    max-height: 520px;
}
#news-slider .views_slideshow_cycle_main a{
    height: 39vw;
    max-height: 520px;
}


#news-slider .views_slideshow_cycle_main div a img{
    height: 100%;
}
#news-slider .views-slideshow-controls-top .views-slideshow-controls-text-pause{
    display: none;
}

#news-slider .views-slideshow-controls-top{
    position: absolute;
    z-index: 2;
    right: 30px;
    top: 30px;
}
#news-slider .views-slideshow-controls-top .views-slideshow-controls-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#news-slider .views-slideshow-controls-top span{
    width: 31px;
    height: 31px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 21px;
}
#news-slider .views-slideshow-controls-top span:hover a{
    color: #fff;
}
#news-slider .views-slideshow-controls-top span:hover{
    background: #f5bd1a;
    color: #fff;
}



#news-slider .views-slideshow-controls-top span.views-slideshow-controls-text-previous{
    margin-right: 10px;
}


#news-slider .views-slideshow-controls-top span a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 27px;

    -o-transition: all ease 0.1s;
    transition: all ease 0.1s;
    -webkit-transition: all ease 0.1s;
}
#news-slider .views-slideshow-controls-top .views-slideshow-controls-text-next a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 27px;
}
#news-slider .views-slideshow-controls-top .views-slideshow-controls-text-next a:before{
    content: "\f105";
    font-family: FontAwesome,sans-serif;
}

#news-slider .views-slideshow-controls-top .views-slideshow-controls-text-previous a:before{
    content: "\f104";
    font-family: FontAwesome,sans-serif;
}

#news-slider .views-field-title{
    width: 65%;
    position: absolute;
    top: 23px;
    left: 25px;
    font-size: 28px;
    color: #fff;
    font-weight: 500;
}












/*Секция колонки с новостями и боковым меню*/

#main-columns{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 34px;
}
#main-columns h2.block__title {
    /*padding-left: 10px;*/
    /*padding-bottom: 10px;*/
    /*padding-top: 10px;*/
    border-bottom: 2px solid #e4e1e1;
}
#main-columns .main-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.main-container .col-4{
    width: 25%;

    /*padding-left: 15px;*/
    /*padding-right: 5px;*/
}
.main-container .col-4:not(:last-child){
    /*padding-top: 10px;*/
}
.main-container .col-4:not(:last-child){
    margin-right: 10px;
}
.main-container h2{
    font-size: 16px;
    padding-right: 5px;
    padding-bottom: 7px;
    text-transform: uppercase;
}

/*.main-container .column .region-first-column,*/
/*.main-container .column .region-third-column*/
.color-column {
    background-color: #f9f9f9;
    border: 2px solid #e4e1e1;
    box-shadow: 0px 0px 5px 1px #dbdbdb;
    border-radius: 7px;
}

.main-container .item-news{
    border-top: 2px solid #e4e1e1;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.main-container a, .column-popular-news a{
    color: #000;
}
/*Этой колонки уже нет*/
.title-news{
    padding: 5px 5px;
    border-radius: 6px;
    max-width: 120px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}
.title-news:hover{
    box-shadow: 0 0 3px 1px #c5c5c5;
}
.title-news-yellow{
    background: #fcf4c9;
}
.title-news-yellow a{
    color: #e5b73a;
}

.title-news-green{
    background: #cfe6d5;
}
.title-news-green a{
    color: #72be8f;
}
.title-news-blur{
    background: #d1d6e8;
}
.title-news-blur a{
    color: #4f5291;
}

.title-news a{

}

.views-field-title{
    /*font-weight: 600;*/
}
/*//////////////////////////////////////////////////////////////*/

/*Боковое меню*/
.column-sidebar h2.block__title{
    display: none;
}
.column-sidebar #block-menu-menu-sidebar-menu-on-the-home{
    height: 100%;
}
.column-sidebar ul.menu{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.column-sidebar .region{
    height: 100%;
}

.column-sidebar ul.menu li.menu__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 10px;
    border: 2px solid #e4e1e1;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 1px 1px #d6d3d3;
    box-shadow: 0 0 1px 1px #d6d3d3;
}
.column-sidebar ul.menu li.menu__item:hover{
    -webkit-box-shadow: 0 0 5px 1px #d6d3d3;
    box-shadow: 0 0 5px 1px #d6d3d3;
}

.column-sidebar ul.menu li.menu__item a{
    padding-left: 90px;
    background-size: 80px 80px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*--------2 вариант но здесь тяжело сделать чтобы наводить на весь блок---------------------*/
.wrapper-sidebar-img{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 30px;
    width: 63px;
    height: 63px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.region-four-column ul.menu li:hover{
    box-shadow: 0 0 3px 1px #e4e1e1;
}


/*Колонка 2 Популяhные новости*/
#main-columns .views-row, .column-popular-news .views-row{
    position: relative;
    border-bottom: 2px solid #e4e1e1;
    padding-bottom: 9px;
    padding-top: 10px;
}
.column-popular-news{
    padding: 0 5px;
}
.column-popular-news h2{
    border-bottom: 2px solid #e4e1e1;
    margin-bottom: 18px;
    padding-top:4px;
    
}
.column-popular-news .all-news{
    color: #0c9be4;
    text-transform: uppercase;
    float: right;
    font-weight: 600;
}
.column-popular-news .all-news:hover{
    color: #0a7eba;
    text-shadow: 0 0 4px #0c9be4;
}
.views-field-field-tags > .mark {
    position: absolute;
    z-index: 2;
    right: 15px;
    top: 20px;
    padding: 5px 6px;
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}
.column-popular-news .views-field-field-tags:hover{
    box-shadow: 0 0 3px 1px #c5c5c5;
}
.title-news-yellow{
    background: #fcf4c9;
    color: #e5b73a;
}


.title-news-green{
    background: #cfe6d5;
    color: #72be8f;
}

.title-news-blur{
    background: #d1d6e8;
    color: #4f5291;
}

.column-popular-news .views-field-field-tags a{
    /*color: #e5b73a;*/
    letter-spacing: 0.2px;
}
.column-popular-news .views-field-field-main-img{
    position: relative;
    width: 100%;
}

.column-popular-news .views-field-field-main-img:before{
    content: "";
    display: block;
    padding-top: 50%; /* С помощью этого padding мы задаем высоту равную ширине блока */
}


.column-popular-news .views-field-field-main-img .field-content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.column-popular-news .views-field-field-main-img .field-content a{
    width: 100%;
    height: 100%;
}
.column-popular-news .views-field-field-main-img .field-content a img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}


.column-popular-news .field-content img {
    width: 100%;
}
.column-popular-news .views-field-title a{
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
}
.column-popular-news .views-field-changed span.field-content{
    color: #a2a2a2;
    font-size: 13px;
    font-weight: 500;
    margin-top: 4px;
    display: block;
}

/*Колонка Официальная информация*/
.column-oficial-inform h2.block__title{
    padding-left: 10px;
    padding-bottom: 10px!important;
    padding-top: 0!important;
    border-bottom: 2px solid #e4e1e1;
}
.column-oficial-inform .views-row{
    padding-left: 10px;
    padding-right: 10px;
}
.column-oficial-inform .views-field-changed{
    margin-top: 10px;
}

/*Блок замечания и предложения*/
.questions-and-suggestions{
    margin-top: 10px;
    background-color: #fcf2e8;

    border: 2px solid #e4e1e1;
    box-shadow: 0 0 5px 0 #dbdbdb;
    border-radius: 7px;
}
.questions-and-suggestions header h2{
    font-size: 15px;
    text-align: center;
    text-transform: none;
}
.questions-and-suggestions form .form-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.questions-and-suggestions .submitted{
    display: none;
}

.questions-and-suggestions .form-type-item{
    display: none;
}
.questions-and-suggestions form input.email{
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid #e4e1e1;
    border-radius: 4px;
}
.questions-and-suggestions label{
    display: block;
    font-size: 12px;
    color: #8c847d;
    margin-bottom: 5px;
}
.questions-and-suggestions textarea.form-textarea {
    width: 100%;
    border: 1px solid #e4e1e1;
    border-radius: 4px;
}
.questions-and-suggestions .webform-submit{
    padding: 10px 60px;
    background-color: #feb300;
    border: none;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
}
.questions-and-suggestions .webform-submit:hover{
    background-color: #e6a200;
}

/*Опросы*/
.polling{
    margin-top: 20px;
}
.polling form{
    position: relative;
    margin-top: 20px;
}

.polling h2.block__title{
    border: none!important;
    font-size: 13px;
    padding-left: 0!important;
    padding-bottom: 0!important;
    margin-bottom: 8px;
}
.polling header h2{
    padding-bottom: 0;
}
.polling header h2 a{
    font-size: 17px;
    margin-bottom: 20px;
    color: #feb300;
    text-transform: none;
    font-weight: 500;
    letter-spacing: 0.8px;
}
.polling .field-item{
    font-weight: 500;
    font-size: 12px;
}
.polling .form-type-item{
    display: none;
}

/*Стилизованные чекбоксы*/
.polling input[type='radio'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
.polling input[type='radio'] + label {
    position: relative;
    padding: 0 0 0 21px;
    cursor: pointer;
}
.polling input[type='radio'] + label:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0px;
    width: 11px;
    height: 11px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.polling input[type='radio'] + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    opacity: 0;
    transition: .2s;
    height: 7px;
    width: 11px;
    border-left: 2px solid #009688;
    border-bottom: 2px solid #009688;
    transform: rotate(-46deg);
}
.polling input[type='radio']:checked + label:after {
    opacity: 1;
}
.polling input[type='radio']:focus + label:before {
    box-shadow: 0 0 4px 1px  rgba(254, 179, 0, 0.6);;
}







.polling{

}
.polling{

}
.polling{

}
.polling{

}






























/*4 секция с фотками*/
.column-img-news .block p{
    margin-bottom: 26px;
}

.column-img-news{

}

.column-img-news{

}

.column-img-news{

}

.column-img-news{

}


/*Футер*/

.footer{
    background: #222222;
    border-top: 5px solid #0c9be4;
    padding-top: 50px;
    color: #fff;
    padding-bottom: 60px;
}
.footer .region-footer-menu h2{
    display: none;
}
.footer a{
    color: #ffffff;
}
.footer .container{
    max-width: 870px;
}
.footer h2{
    text-transform: uppercase;
    font-size: 14px;
    /*color: #fff;*/
    margin-bottom: 20px;
}
.footer .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.footer .first-block{
    width: 64%;
    max-width: 425px;
    margin-right: 13px;
}
.footer .second-block{
    margin-left: 13px;
    /*width: calc(100% - 64% - 20px);*/
}
.footer .first-block p{
    font-size: 12px;
    /*color: #fff;*/
    font-weight: 500;
}

/*Для первой версии*/

/*.footer .second-block ul.menu li{*/
    /*display: flex;*/
    /*align-items: baseline;*/
    /*margin-bottom: 10px;*/
/*}*/

/*.footer .second-block ul.menu li:before{*/
    /*content: "\f178";*/
    /*width: 13px;*/
    /*height: 10px;*/
    /*font-family: 'FontAwesoome',sans-serif;*/
    /*color: #fff;*/
    /*position: relative;*/
    /*left: 0;*/
    /*margin-right: 10px;*/
/*}*/
/*.footer .second-block ul.menu li a{*/
    /*font-size: 14px;*/
    /*color: #fff;*/
    /*font-weight: 500;*/
    /*padding: 6px 0;*/
/*}*/

/*.footer .second-block ul.menu li:hover a{*/
    /*color: #f5bd1a;*/
/*}*/

/*.footer .second-block ul.menu li:hover:before{*/
    /*color: #f5bd1a;*/
    /*left: 1px;*/
/*}*/



/*Для второй версии*/
.footer .region-footer-second-block ul.menu li{
    width: 174px;
    height: 41px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 10px;
}
.footer .region-footer-second-block ul.menu li:hover{
    box-shadow: 0 0 1px 2px #747373;
}
.footer .region-footer-second-block ul.menu li a {
    height: 100%;
}
.footer .region-footer-second-block ul.menu li:hover a{
    color: #f5bd1a;
}

.footer .region-footer-second-block ul.menu li:hover:before{
    color: #f5bd1a;
    left: 1px;
}































/*Меню футера*/


.footer .footer-navigation{
    margin-top: 40px;
}
.footer .footer-navigation ul.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.footer .footer-navigation ul.menu li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer .footer-navigation ul.menu li:not(:last-child):after{
    content: "";
    width: 2px;
    height: 13px;
    background-color: #fff;

}
.footer .footer-navigation ul.menu li a{
    font-size: 12px;
    /*color: #fff;*/
    font-weight: 500;
    padding: 5px 5px;
}
.footer .footer-navigation ul.menu li a:hover{
    /*color: #a7a7a7;*/
    opacity: 0.7;
}
.footer .footer-navigation ul.menu{

}

.footer .footer-bottom{
    margin-top: 20px;
    padding: 10px 0 30px;
    box-shadow: 0px 0px 3px 2px #191818;
}
.footer .footer-bottom p{
    /*color: #fff;*/
    font-size: 10px;
    font-weight: 500;
    line-height: 17px;
}

.footer .footer-bottom a {
    display: inline;
    /*color: #fff;*/
}
.footer .footer-bottom a:hover{
    opacity: 0.7;
}

/*Медиа меню*/
.media-logo{
    display: none;
    cursor: pointer;
    position: fixed;
    right: 8px;
    top: 30px;
    z-index: 10;
}
.media-logo i{
    font-size: 30px;
}
.media-menu {
    padding-top: 20px;
    /*margin-bottom: 40px;*/
    position: relative;
    display: none;
    width: 100%;
    /*height: 100%;*/
    /*height: 100vh;*/
    text-align: center;
    /*background: rgba(53, 157, 210, 0.1);*/
}

.media-menu ul#superfish-1{
    margin-top: 20px;
}
.media-menu ul#superfish-1 li ul{
    display: none;
}

.media-menu ul#superfish-1 li ul li a{
    color: #6d6d6d;
    font-size: 14px;
    padding: 7px 0;
    font-weight: 500;
}

.media-menu ul#superfish-1 li a{
    color: #000;
    font-size: 18px;
    padding: 7px 0;
    font-weight: 600;
}
.media-menu ul#superfish-1 li a:hover{
    background: rgba(53, 157, 210, 0.4);
}
.media-close{
    position: absolute;
    right: 20px;
    top: 10px;
}
.media-close i{
    cursor: pointer;
    font-size: 30px;
    z-index: 10;
}

/*Скролл веерх*/
#scrollup{
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: rgba(245, 189, 26,0.8);
    z-index: 10;
    cursor: pointer;
    /*opacity: 1;*/
}
#scrollup i{

    color: #fff;
    font-size: 21px;
}
.bg-color-body{
    background: rgba(53, 157, 210, 0.1);
}

/*Слайдер*/

.try{
    position: absolute;
    width: 220px;
    height: 200px;
    left: 0;
    top: 0;
    background: rgba(73, 68, 75, 0.8);
    z-index: 1;
}
.try-2{
    position: absolute;
    width: 220px;
    height: 200px;
    right: 0;
    top: 0;
    background: rgba(73, 68, 75, 0.8);
    z-index: 1;
}





/*main*/
.navigation .region-navigation h2{display:none;}
.navigation .region-navigation ul.menu.sf-menu{display: -webkit-box;
    display: -ms-flexbox;
    display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}

.navigation .region-navigation ul.menu.sf-menu > li{position:relative;}
.navigation .region-navigation ul.menu.sf-menu > li > ul{display:none;}
.navigation .region-navigation ul.menu.sf-menu > li {font-size: 18px;font-weight: 600;color: #000;}

.navigation .region-navigation ul.menu.sf-menu > li:hover{
   
}
.navigation .region-navigation ul.menu.sf-menu > li > a{
    padding: 8px 10px;
}
.navigation .region-navigation ul.menu.sf-menu > li:hover > a{
    color: white;
    background: #0c9be4;
}
.navigation .region-navigation ul.menu.sf-menu > li:hover > ul {
    position: absolute;
    z-index: 100;
    background: white;
    border: 1px solid #cfcfcf;
    display: block;
}
.navigation .region-navigation ul.menu.sf-menu > li:hover > ul > li {
    max-width: 320px;
    min-width: 300px;
    padding: 7px 10px;
    border-bottom: 1px solid #cfcfcf;
}
.navigation .region-navigation ul.menu.sf-menu > li:hover > ul > li a{
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.region.region-first-column h2.block__title{display:none;}
/*.column-second h2.block__title, .column-oficial-inform h2.block__title{*/
    /*padding-top:0;*/
    /*padding-bottom:0;*/
    /*margin-bottom:0;*/
    /*margin-top:0;}*/



/*Секция фотогаллерея*/
div#photogallery {
    background: #49444b;
    padding-top: 50px;
    padding-bottom: 35px;
}

#photogallery .view-fromt-page-gallery{
    margin-top: 20px;
}
#photogallery h2.block__title{
    max-width: 936px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}
#photogallery h2.block__title:before{
    content: "\f030";
    font-family: "FontAwesome", sans-serif;
    color: #fff;
    margin-right: 8px;
}
#photogallery{

}
#photogallery{

}
#photogallery{

}


/*Слайдер*/

#photogallery .bx-wrapper{
    margin: 0 auto;
}
#photogallery .bxslider img{
    width: 100%;
    height: auto;
}
#photogallery .bx-pager {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
}
#photogallery .bx-pager-item a{

}

/* Пейджеры */
/*Настраивается расположение пейджеров*/


#photogallery .bx-pager .bx-pager-item a{
    background:#68636a;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    outline: 0;
    border-radius: 50%;
    color: #fff;
}
#photogallery .bx-wrapper .bx-pager .bx-pager-item a:hover,
#photogallery .bx-pager .bx-pager-item a.active {
background: #feb304;
}


#photogallery  .bx-pager-item{
    margin-right: 20px;
}
#photogallery .bx-pager-item:last-child{
    margin-right: 0;
}

/*#photogallery .item-slider[aria-hidden='false']{*/
    /*opacity: 0.4;*/
/*}*/






















/*#photogallery h2.block__title {*/
    /*color:white;*/
    /*zoom: 1;*/
    /*width: 100%;*/
    /*max-width: 1280px;*/
    /*margin: 0 auto;*/
    /*padding: 0 15px;*/
    /*position: relative;*/
/*}*/



div#photogallery .jcarousel-skin-default .jcarousel-container-horizontal{
    width: 100%;
    height:auto;
}
div#photogallery .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 100%;
}
div#photogallery ul.jcarousel.jcarousel-view--fromt-page-gallery--block{
    margin: 0px auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
div#photogallery .jcarousel-skin-default .jcarousel-item {
    width: 217px!important;
    height: 176px!important;
}
.navigation .region-navigation ul.menu.sf-menu > li > a {
    color: #000;
}



/*----***СТРАНИЦА НОВОСТИ*****-----*/

.display-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}
.display-flex .column-popular-news h2{
    padding: 5px 0 7px;
    margin-top: 15px;
}
.display-flex .main-content{
    width: 73%;
    padding: 10px;
    box-shadow: 0 0 6px 3px #dedede;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 20px;
}
.section-all-news{
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.display-flex .column-popular-news, .section-all-news .column-popular-news{
    /*width: 27%;*/
    width: calc(100% - 73% - 10px);
    min-width: 230px;
}
.section-all-news .view-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.section-all-news .view-content .views-row {
    padding-bottom: 20px!important;
    position: relative;
    max-width: 280px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #f5f5f5;
    -webkit-box-shadow: 0 2px 5px 1px #c7c7c7;
    box-shadow: 0 2px 5px 1px #c7c7c7;
}
.section-all-news .views-field-title{
    margin-top: 10px;
}
.item-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 80px;
}
.item-list .pager{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
}

.item-list .pager li{
    text-align: center;
    padding: 5px;
    border-right: 1px solid #dfdfdf;
    width: 29px;
    height: 29px;
}
.item-list .pager li:last-child{
    border: none;
}
.item-list .pager li{
    color: #428bca;
    font-weight: 500;
}
.item-list .pager li.pager-current{
    background: #428bca;
    color: #fff;
}
.element-invisible{
    display: none;
}

/*---****Страница Новости подробно*****-----*/
.detail-news .node-news{
    margin-top: 30px;
}
.detail-news .field-label{
    display: none;
}
.detail-news .form-type-item{
    display: none;
}
.detail-news .node-news .field-name-field-main-img{
    max-width: 310px;
    min-width: 255px;
    width: 35%;
    float: left;
    margin-right: 15px;
}
.detail-news{

}
.detail-news{

}
.form-item.form-type-radio.form-item-choice-2 {
    margin-top: 10px;
}
form#advpoll-form-29 > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
form#advpoll-form-29 > div .form-item, form#advpoll-form-29 > div .form-submit {
    width: 50%;
}
.node-advpoll #message {
    margin-top: 20px;
    color: #DD0000;
    font-style: italic;
}
input#edit-submit-advpoll-29 {
    background-color: #feb300;
    border: none;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
}

.poll .total, .poll-message, #edit-submit--2, #edit-submit--3, #edit-submit--4, #edit-submit--5, #edit-submit--1{
    display:none!important;
}
.poll .voted .bar {
    border: 1px solid #feb300!important;
}
.poll .bar .foreground {
    background-color: #feb300;
}
.display-flex .column-popular-news {
    margin-top: 13px;
}
ol.breadcrumb__list, .breadcrumb__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.right-sidebar .view-content {
    /*justify-content: flex-end;*/
}
.display-flex .right-sidebar .view-content .views-row {
    max-width: 100%;
}
span.breadcrumb__separator {
    margin-left: 10px;
}
li.breadcrumb__item {
    margin-right: 10px;
}
nav.breadcrumb {
    box-shadow: 0 0 6px 3px #dedede;
    border-radius: 3px;
    padding: 10px 0 10px 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.section.main-content > h1 {
    line-height: 1.6rem;
    font-size: 16px;
    font-weight: 600;
    margin: 0 15px;
}
.footer-bottom p {
    margin: 0;
}
.top-bar p, .header p{
    margin:0;
}





/*СТРАНИЦА Знаменитые люди города*/

.famous-people  ul{
    margin-top: 20px;
}
.famous-people  ul li{
    margin-bottom: 10px;
}
.famous-people  ul li a{
    display: inline-block;
}

/*СТРАНИЦА Образование*/
.table .block-views{
    overflow-x: auto;
}
.table table{
    margin-top: 10px;
}

.table table .main-content{
    overflow: auto;
}


.table table thead{
    background: #0c9be4;
}
.table table thead tr th:first-child{
    width: 37%;
}
.table table thead tr th:nth-child(2){
    width: 25%;
}
.table table thead tr{
    color: #fff;

}
.table table thead tr th{
    padding: 10px;


}
.table table tbody tr{
    border-bottom: 1px solid #e4e4e4;
}
.table table tbody tr:last-child{
    border-bottom: none;
}

.table table tbody tr td{
    padding: 5px;
}

.education{

}
.education{

}

/*СТРАНИЦА Муниципальные Учреждения и Культура спорт*/

.urban-infrastructure-list, .culture-and-sports-item{
    margin-top: 20px;
}
li.urban-infrastructure-item, li.culture-and-sports {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid #e4e1e1;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 1px 1px #d6d3d3;
    box-shadow: 0 0 1px 1px #d6d3d3;
    font-weight: 500;
}
li.urban-infrastructure-item:hover, li.culture-and-sports:hover{
    -webkit-box-shadow: 0 0 5px 1px #d6d3d3;
    box-shadow: 0 0 5px 1px #d6d3d3;
}


/*Страница Почетные граждане Города*/

.honory-citizens .view-content{
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.honory-citizens .honorary-citizens-item{
    margin: 0px 12px 24px;
    width: 21%;
    max-width: 180px;
    min-width: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.honory-citizens .honorary-citizens-item a:first-child{
    width: 11vw;
    max-width: 149px;
    min-width: 140px;
    height: 11vw;
    max-height: 149px;
    min-height: 140px;
}

.honory-citizens .honorary-citizens-item a:first-child img{
    border-radius: 50%;
}
.honory-citizens .honorary-citizens-item a:nth-child(2){
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #000;
    font-weight: 500;
}


.honory-citizens{

}


/*СТРАНИЦА Фотогалерея*/
.photo-gallery h2{
    font-size: 16px;
    font-weight: 500;
    /*margin: 0 15px;*/
}
.photo-gallery h2 a{
    color: #000000;
}
.photo-gallery .view-node-gallery-gallery-item-views{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
}
.photo-gallery .view-node-gallery-gallery-item-views .view-content {
    width: 47%;
    min-width: 220px;
}

.photo-gallery .view-node-gallery-gallery-item-views .view-content
table tr td article
{
    margin-right: 3px;
}
.photo-gallery .view-node-gallery-gallery-item-views .view-content
table tr td article header
{
    display: none;
}
.photo-gallery .view-node-gallery-gallery-item-views .view-content
table tr td article h2.element-invisible
{
    display: none;
}


/*СТРАНИЦА Официальная информация*/
.display-flex h1 {
    border-bottom: 1px solid;
    margin-left: 0!important;
}
.official-information{

}

.official-information-page
.view-block-official-information-on-the-home{
    margin-top: 20px;
}

.official-information-item{
    position:relative;
    padding: 0 5px;
    border-bottom: 1px solid #e4e1e1;
    padding-bottom: 15px;
}

.official-information-item:not(:first-child){
    margin-top: 15px;
}
.official-information-item .views-field-changed{
    margin-top: 7px;
}
ul.menu li {
    list-style: none;
}

/*СТРАНИЦА Туристические маршруты*/
.turisticheskie-marshruti{

}
.tourist-trip-item{
    margin-bottom: 15px;
    overflow: hidden;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    padding: 10px 10px;
    border: 1px solid #e4e1e1;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 1px 1px #d6d3d3;
    box-shadow: 0 0 1px 1px #d6d3d3;
    font-weight: 500;
}
.tourist-trip-item .views-field-title{
    width: 100%;
    margin-bottom: 20px;
}
.tourist-trip-item .tourist-trip-title a{
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

.tourist-trip-item .views-field-field-image{
    float: left;
    width: 20%;
    margin-right: 20px;
    min-width: 160px;
    display: inline-block;
    vertical-align: middle;
}
.tourist-trip-item .views-field-body{
    width: 77%;
}
.display-flex .main-content > div.view{
    margin-top: 20px;
}


/*СТРАНИЦА Города-побратимы*/

.sister-cities-page{

}
.sister-cities-item:after{
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    background: #d6d3d3;
    margin: 20px auto 0;
}
.sister-cities-item:not(:first-child){
    margin-top: 20px;
}
.sister-cities-item .sister-cities-name{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    display: block;
}
.sister-cities-item .views-field-field-image{
    width: 15%;
    max-width: 125px;
    min-width: 80px;
    margin: 20px auto;
}


/*СТРАНИЦА Контакты*/
.table-2 table{
    border-collapse: collapse;
}
.table-2 table, .table-2 table tr td{
    border: none;
    border-bottom: 1px solid #e4e1e1;
    /*text-align: center;*/
}
.contacts article.node-page{
    margin-top: 20px;
    overflow-x: auto;
}
.contacts.table-2 table tbody tr:first-child{
    background: #0c9be4;
    color: #fff;
}
.contacts.table-2 table tbody tr td{
    padding: 10px;
    /*color: transparent;*/
}

.contacts.table-2 table tbody tr td:first-child{
    width: 20%;
}
.contacts.table-2 table tbody tr td:nth-child(2){
    width: 60%;
}
.contacts.table-2 table tbody tr td:nth-child(3){
    text-align: right;
    min-width: 125px;
}

div[id*="ascrail"]{  /*щирина линии скролла*/
    margin-top: 10px;
}

/*СТРАНИЦА Гостиницы и Сервисы*/

.hotels-and-services{

}


.hotels-and-services .view-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.services-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 48%;
    min-width: 390px;
    /*max-width: 280px;*/
    padding: 15px 5px;
    margin: 5px;
    border: 1px solid #f5f5f5;
    -webkit-box-shadow: 0 2px 5px 1px #c7c7c7;
    box-shadow: 0 2px 5px 1px #c7c7c7;
    font-weight: 500;
}
.wrapper-t{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.wrapper-t div.views-field:not(:first-child){
    line-height: 20px;
}
.services-item .views-field-field-image{
    align-self: center;
    width: 40%;
    /*height: 100%;*/
    /*float: left;*/
    min-width: 165px;
    margin-right: 10px;

}
.services-item .views-field-field-phone .services-phone{
    display: inline;
}
.services-item .views-field-field-address .services-address{
    display: inline;
}
.services-item .views-field-field-vremya-raboti .services-time{
    display: inline;
}
.services-item .views-field-title{
    font-size: 17px;
    margin-bottom: 10px;
}

.buttons-call-to-action{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
}
.buttons-c-t-a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    width: 31px;
    height: 31px;
    border-radius: 3px;
    background-color: #0c9be4;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.buttons-c-t-a:hover{
    -webkit-box-shadow: 0 0 5px #0c9be4;
    box-shadow: 0 0 5px #0c9be4;
}
.buttons-c-t-a div{
    width: 20px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.buttons-c-t-a-phone div{
    background-image: url("../img/IconTelefHotel.png");
}
.buttons-c-t-a-map div{
    background-image: url("../img/IconMapHotel.png");
}


/*Модальное окно*/
.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /*display: flex;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto;
    z-index: 1100;
    display: none;
}

.parent #block {
    position: relative;
    width: 80%;
    height: 50%;
    border: 1px solid #7b7a7a;
    background: #fff;
    box-shadow: 0 0 4px 0 #7b7a7a;
}
img {
    display: block;
    border: none;
}

#lean_overlay {
    position: fixed;
    z-index:1000;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background: rgba(0, 0, 0, 0.25);
    display: none;
}
.close-menu{
    position: absolute;
    right: 10px;
    top: -27px;
    font-size: 20px;
    color: #412ed8;
    cursor: pointer;
}
.contacts.table-2 p {
    margin: 0;
}
p.rtecenter img {
    margin: 0 auto;
}
.goverment-link-list {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.goverment-link-list .goverment-link-item {
    display: block;
    width: 33%;
    background: #e4e8e9;
    margin: 2px 0;
    padding: 20px;
    text-align: center!important;
}
.main-content p{
        margin: 0.5rem;
}
.view-id-municipalnie_uslugi table thead tr th:first-child {
    width: 60%!important;
}
.navigation .region-navigation ul.menu.sf-menu > li > ul > li:hover {
    background: #009ce7;
}
.navigation .region-navigation ul.menu.sf-menu > li > ul > li:hover > a {
    color: white;
}
div#toolbar {
    display: none!important;
}
li.culture-and-sports {
    flex-wrap: wrap;
}
li.culture-and-sports .views-field {
    width: 100%;
}
/*СТРАНИЦА Фотогалерея - отдельное фото*/
.node-node-gallery-item{

}
.node-node-gallery-item{

}
.node-node-gallery-item table.item-navigator td a{
    color: #000;
}
.node-node-gallery-item{

}
.field-name-node-gallery-media{
    max-width: 460px;
    margin: 20px auto;
}


.foto-gallery-navigator{

}
.navigator-flex{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gallery-item-navigator:first-child{
    width: 100%;
    margin-bottom: 10px;
}
.gallery-item-navigator:not(.item-navigator-position):not(.item-navigator-gallery-link){
    /*border: 1px solid;*/
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5bd1a;
}
.gallery-item-navigator:not(.item-navigator-position):not(.item-navigator-gallery-link):hover{
    background: #ffc71a;
}
.gallery-item-navigator:not(.item-navigator-position):not(.item-navigator-gallery-link) a{
    color: #fff;
}

.gallery-item-navigator.item-navigator-prev{
    margin: 0 8px 0 5px;
}
.gallery-item-navigator.item-navigator-next{
    margin: 0 5px 0 8px;
}
.item-navigator-gallery-link{
    margin-left: 12px;
}
.item-navigator-gallery-link a{
    color: #000;
}
.item-navigator-gallery-link a:hover{
    opacity: 0.7;
}
.official-information-item:first-child {
    margin-top: 10px;
}
.messages.messages--error {
    display: none;
}
.gsIContent, .gsInformer {
    display: none;
    opacity: 0;
}
a.change-lang {
    display: inline-block;
}
div#google_translate_element {
    display: none;
    opacity: 0;
}
.wrapper-first-second-block .second-block .region-head-right .block-search form .form-item .js-search:before {
    content: "\f002";
}
.wrapper-first-second-block .second-block .region-head-right .block-search form .form-item .js-search {
    padding: 7px 0px;
    font-family: FontAwesome,sans-serif;
    color: #0c9be4;
    width: calc(100% - 85%);
    text-align: center;
    cursor: pointer;
    height: 30px;
    display: block;
}

.form-item-keys > label{
    display: block!important;
}
.form-item-keys > input[type="text"]{
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 33px;
    border-radius: 16px;
    background: #eee;
    border: none;
    box-shadow: inset 0px 1px 3px 1px rgba(154, 147, 140, 0.7);
}
#user-login input[type="text"], #user-login input[type="password"], #user-register-form input[type="text"], #user-register-form input[type="password"], #user-pass input[type="text"], #user-pass input[type="password"], #contact-personal-form input[type="text"], #contact-personal-form input[type="password"]{
    margin: 7px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 320px;
    height: 33px;
    border-radius: 16px;
    background: #eee;
    border: none;
    box-shadow: inset 0px 1px 3px 1px rgba(154, 147, 140, 0.7);
}
.container-inline input[type="submit"], #user-login input[type="submit"], #user-register-form input[type="submit"], #user-pass input[type="submit"], #contact-personal-form input[type="submit"]{
        display: block;
    background: #34abe8;
    border: 0;
    color: white;
    padding: 5px 11px;
    border-radius: 5px;
    
}
.node-pochetnie-grajdani img {
    margin: 0 auto;
}
.top-bar-menu ul.menu{margin:initial;}
.navigation {
    height: 40px;
}

.section-all-news .view-content .views-row .views-field-changed .field-content {
    font-size: 12px;
    color: #909090;
    position: absolute;
    bottom: 3px;
}
.hidden{
    display:none!important;
    opacity:0;
}
#spinner {
  margin-top: calc(100vh/2 - 150px);
    display: flex;
    width: 115px;
    height: 100px;
    background: url(../img/logo.png) no-repeat;
    /* margin: 60px; */
    animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
}
div#stage {
    position: fixed;
    z-index: 999;
    background: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

@keyframes rotate {
  0% {
    transform: perspective(0px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(0px) rotateX(0deg) rotateY(-180deg);
  }
  100% {
    transform: perspective(0px) rotateX(0deg) rotateY(0deg);
  }
}
ul.culture-and-sports-item {
    padding: 0;
}
span.file img {
    display: inline;
}
.city-poster-item {
    padding: 10px 10px;
    border: 1px solid #e4e1e1;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 1px 1px #d6d3d3;
    box-shadow: 0 0 1px 1px #d6d3d3;
    font-weight: 500;
    margin-bottom: 10px;
}
.field-content.city-poster-img {
    float: left;
    max-width: 300px;
    margin-right: 20px;
}
.city-poster-files .item-list {
    display: block;
    margin-top: 20px;
}
.city-poster-files .item-list ul {
    list-style: none;
}
.city-poster-item:after {
    content: '';
    display: block;
    clear: both;
}
ul.urban-infrastructure-list {
    padding: 0;
}
.gallery-item-navigator.item-navigator-position {
    text-align: center;
}
.node-node-gallery-item header {
    display: none;
}
.view-node-gallery-gallery-summaries .views-row {
    border: 1px solid #e4e1e1;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 1px 1px #d6d3d3;
    box-shadow: 0 0 1px 1px #d6d3d3;
    font-weight: 500;
    margin-bottom: 10px;
    /* display: flex; */
    width: 48%;
    align-items: ;
    padding: 5px 10px;
}
.view-node-gallery-gallery-summaries .view-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-select {
    padding: 3px 25px;
    margin: 7px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* min-width: 320px; */
    height: 33px;
    border-radius: 5px;
    background: #eee;
    border: none;
    box-shadow: inset 0px 1px 3px 1px rgba(154, 147, 140, 0.7);
}
.form-submit {
    display: block;
    background: #34abe8;
    border: 0;
    color: white!important;
    padding: 9px 20px;
    border-radius: 5px;
}
.view-mun-zakaz table thead tr th:first-child {
    width: 80px!important;
}
.view-mun-zakaz table thead tr th:nth-child(2) {
    width: 100px!important;
}
.view-mun-zakaz table thead tr th:nth-child(3) {
    width: calc(100% - 280px - 40%)
}
.view-mun-zakaz table thead tr th:last-child {
    width: 150px!important;
}
.views-field-field-files span.file {
    display: inline-block;

}
a.visually-impaired, .change-lang {
    cursor: pointer;
}
a.more {
    position: absolute;
    right: 10px;
    bottom: 15px;
    font-size: 12px;
    color: #009ce7;
}
.footer ul.menu {
    padding: 0;
}
div#block-menu-menu-sidebar-menu-on-the-home ul.menu {
    padding: 0;
}
div.view-node-gallery-gallery-item-views table.views-view-grid td:hover, div.view-node-gallery-gallery-summaries table.views-view-grid td:hover {
    background-color: initial!important;
}
a.reed-more {
    color: #0c9be4;
    float: right;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 5px 5px 0 0;
    text-transform: uppercase;
}
#maps p {margin:0;}
.table.budjet table thead tr th:first-child {
    width: 10%;
}
.table.budjet table thead tr th:nth-child(2) {
    width: 50%;
}
.view.view-block-official-information-on-the-home.view-id-block_official_information_on_the_home.view-display-id-block {
    margin-bottom: 25px;
}
.region-first-column ul.menu {
    margin: 0;
}